doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/socket.io.client.js')
	body
		block content
		script(src='javascripts/jquery-2.0.3.min.js')
		script(src='javascripts/pacman.js')